<%- include('partials/header') %>
<style>
  h3 {
    padding: 20px 0px 20px 0px;
    margin: 0px;
  }

  .sign-up-form input {
    margin-bottom: 5px;
  }

  .sign-up-form button i {
    font-size: 0.9rem;
  }
</style>

<div class="container-fluid d-flex h-100 align-items-center">
  <div
    class="
      col-lg-8
      offset-lg-2
      col-md-10
      offset-md-1
      col-sm-10
      offset-sm-1
      align-middle
    "
  >
    <div class="bg-white rounded shadow px-3 py-1 mb-2 text-center">
      <h3>The meeting has ended.</h3>
    </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
