<%- include('partials/header') %>
<div class="container-fluid d-flex h-100 align-items-center">
  <div
    class="
      col-lg-6
      offset-lg-3
      col-md-8
      offset-md-2
      col-sm-10
      offset-sm-1
      align-middle
      text-center
      text-white
    "
  >
    <h2>Please use Apis provided to you on sign up.</h2>
  </div>
</div>
<%- include('partials/footer') %>
