<%- include('partials/header') %>
<style>
  h3 {
    padding-bottom: 10px;
  }

  .sign-up-form input {
    margin-bottom: 5px;
  }

  .sign-up-form button i {
    font-size: 0.9rem;
  }
</style>

<div class="container-fluid d-flex h-100 align-items-center">
  <div
    class="
      col-lg-6
      offset-lg-3
      col-md-8
      offset-md-2
      col-sm-10
      offset-sm-1
      align-middle
    "
  >
    <div class="bg-white rounded shadow px-3 py-3 text-center">
      <h3>Sign up your project</h3>
      <form class="sign-up-form" method="POST" action="/registered">
        <input
          class="form-control"
          type="text"
          id="sign-up-name"
          name="name"
          placeholder="Full Name"
          />
          <input
          class="form-control"
          type="text"
          id="sign-up-project"
          name="project"
          placeholder="Project Name"
          />
          <input
          class="form-control"
          type="email"
          id="sign-up-email"
          name="email"
          placeholder="Email Address"
          />
          <input
          class="form-control"
          type="password"
          id="sign-up-pasword"
          name="password"
          placeholder="Password"
        />
        <button
          type="submit"
          class="btn btn-primary w-100"
        >
          SUBMIT<i class="bi bi-caret-right-fill"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
